[Desktop Entry]
Terminal=false
Name=ZenHub Viewer
Comment=ZenHub Viewer is a non official desktop viewer for ZenHub
GenericName=Web Browser
Exec=zenhub_viewer
Icon=/usr/share/pixmaps/zenhub_viewer.png
Type=Application
StartupNotify=false
StartupWMClass=zenhub_viewer
Categories=Development;ProjectManagement;
Keywords=zenhub;development;project-management;collaboration;